:root,
[data-theme=light] {
    --blue: #0d6efd;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #d63384;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #198754;
    --teal: #20c997;
    --cyan: #0dcaf0;
    --black: #000;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --gray-100: #f8f9fa;
    --gray-200: #e9ecef;
    --gray-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #adb5bd;
    --gray-600: #6c757d;
    --gray-700: #495057;
    --gray-800: #343a40;
    --gray-900: #212529;
    --primary: #0d6efd;
    --secondary: #6c757d;
    --success: #198754;
    --info: #0dcaf0;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #212529;
    --primary-rgb: 13, 110, 253;
    --secondary-rgb: 108, 117, 125;
    --success-rgb: 25, 135, 84;
    --info-rgb: 13, 202, 240;
    --warning-rgb: 255, 193, 7;
    --danger-rgb: 220, 53, 69;
    --light-rgb: 248, 249, 250;
    --dark-rgb: 33, 37, 41;
    --primary-text: #0a58ca;
    --secondary-text: #6c757d;
    --success-text: #146c43;
    --info-text: #087990;
    --warning-text: #997404;
    --danger-text: #b02a37;
    --light-text: #6c757d;
    --dark-text: #495057;
    --primary-bg-subtle: #cfe2ff;
    --secondary-bg-subtle: #f8f9fa;
    --success-bg-subtle: #d1e7dd;
    --info-bg-subtle: #cff4fc;
    --warning-bg-subtle: #fff3cd;
    --danger-bg-subtle: #f8d7da;
    --light-bg-subtle: #fcfcfd;
    --dark-bg-subtle: #ced4da;
    --primary-border-subtle: #9ec5fe;
    --secondary-border-subtle: #e9ecef;
    --success-border-subtle: #a3cfbb;
    --info-border-subtle: #9eeaf9;
    --warning-border-subtle: #ffe69c;
    --danger-border-subtle: #f1aeb5;
    --light-border-subtle: #e9ecef;
    --dark-border-subtle: #adb5bd;
    --white-rgb: 255, 255, 255;
    --black-rgb: 0, 0, 0;
    --body-color-rgb: 33, 37, 41;
    --font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --body-font-family: var(--font-sans-serif);
    --body-font-size: 1rem;
    --body-font-weight: 400;
    --body-line-height: 1.5;
    --body-color: #212529;
    --inverted-body-color: #212529;
    --emphasis-color-rgb: 0, 0, 0;
    --secondary-color: rgba(33, 37, 41, 0.75);
    --secondary-color-rgb: 33, 37, 41;
    --secondary-bg: #e9ecef;
    --secondary-bg-rgb: 233, 236, 239;
    --tertiary-color: rgba(33, 37, 41, 0.5);
    --tertiary-color-rgb: 33, 37, 41;
    --tertiary-bg: #f8f9fa;
    --tertiary-bg-rgb: 248, 249, 250;
    --body-bg: #fff;
    --body-bg-rgb: 255, 255, 255;
    --link-color: #0d6efd;
    --link-color-rgb: 13, 110, 253;
    --link-decoration: underline;
    --link-hover-color: #0a58ca;
    --link-hover-color-rgb: 10, 88, 202;
    --code-color: #d63384;
    --border-width: 1px;
    --border-style: solid;
    --border-color: #dee2e6;
    --border-color-translucent: rgba(0, 0, 0, 0.175);
    --border-radius: 0.375rem;
    --border-radius-sm: 0.25rem;
    --border-radius-lg: 0.5rem;
    --border-radius-xl: 1rem;
    --border-radius-2xl: 2rem;
    --border-radius-pill: 50rem;
    --box-shadow: 0 0.5rem 1rem rgba(var(--body-color-rgb), 0.15);
    --box-shadow-sm: 0 0.125rem 0.25rem rgba(var(--body-color-rgb), 0.075);
    --box-shadow-lg: 0 1rem 3rem rgba(var(--body-color-rgb), 0.175);
    --box-shadow-inset: inset 0 1px 2px rgba(var(--body-color-rgb), 0.075);
    --emphasis-color: #000;
    --form-control-bg: var(--body-bg);
    --form-control-disabled-bg: var(--secondary-bg);
    --highlight-bg: #fff3cd;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --breakpoint-xxl: 1400px;
}

:root {
    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

    // Размеры
    --navbar-height: 50px;

    --sidebar-width: 300px;
    --sidebar-width-collapsed: 80px;
}
