[data-theme=dark] {
  --body-color: #adb5bd;
  --body-color-rgb: 173, 181, 189;
  --body-bg: #212529;
  --body-bg-rgb: 33, 37, 41;
  --emphasis-color: #f8f9fa;
  --emphasis-color-rgb: 248, 249, 250;
  --secondary-color: rgba(173, 181, 189, 0.75);
  --secondary-color-rgb: 173, 181, 189;
  --secondary-bg: #343a40;
  --secondary-bg-rgb: 52, 58, 64;
  --tertiary-color: rgba(173, 181, 189, 0.5);
  --tertiary-color-rgb: 173, 181, 189;
  --tertiary-bg: #2b3035;
  --tertiary-bg-rgb: 43, 48, 53;
  --emphasis-color: #fff;
  --primary-text: #6ea8fe;
  --secondary-text: #dee2e6;
  --success-text: #75b798;
  --info-text: #6edff6;
  --warning-text: #ffda6a;
  --danger-text: #ea868f;
  --light-text: #f8f9fa;
  --dark-text: #dee2e6;
  --primary-bg-subtle: #031633;
  --secondary-bg-subtle: #212529;
  --success-bg-subtle: #051b11;
  --info-bg-subtle: #032830;
  --warning-bg-subtle: #332701;
  --danger-bg-subtle: #2c0b0e;
  --light-bg-subtle: #343a40;
  --dark-bg-subtle: #1a1d20;
  --primary-border-subtle: #084298;
  --secondary-border-subtle: #495057;
  --success-border-subtle: #0f5132;
  --info-border-subtle: #055160;
  --warning-border-subtle: #664d03;
  --danger-border-subtle: #842029;
  --light-border-subtle: #495057;
  --dark-border-subtle: #343a40;
  --heading-color: #fff;
  --link-color: #6ea8fe;
  --link-hover-color: #9ec5fe;
  --link-color-rgb: 110, 168, 254;
  --link-hover-color-rgb: 158, 197, 254;
  --code-color: #e685b5;
  --border-color: #495057;
  --border-color-translucent: rgba(255, 255, 255, 0.15);
}
